* {
    color: #D3F3F0;
    font-family: serif;
    margin: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url(img/rain-transparent.gif);
    background-repeat: repeat;
    cursor: url(img/cursor.png), auto;
}

audio {
    visibility: hidden;
}

info {
    font-size: 50px;
    padding-right: 10px;
    margin-top: 10px;
    white-space: nowrap;
    font-size: 3vw;
    background-color: #182b2f9c;
    border-radius: 10px 10px 0 0;
}

info_g {
    font-size: 50px;
    white-space: nowrap;
    background-color: #182b2f9c;
    border-radius: 10px 10px 0 0;
}

description {
    font-size: 1.9vw;
    padding: 10px;
    background-image: url(img/tentacles-cthulhu-islands-artwork-city-skyline.jpg);
    background-position-y: 35%;
    max-height: 350px;
    text-align: left;
    background-size: cover;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
    width: 30%;
}

.section-container-home {
    display: flex;
    margin: 15% 1% 0 1%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: #182b2f9c;
}

/*All other text on the page*/
.text_block {
    background-color: #182b2f9c;
    color: #D3F3F0;
    margin-top: 5px;
    text-align: left;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

d ul li {
    background-color: #182b2f9c;
    color: #D3F3F0;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
}

social_media li desc {
    color: #D3F3F0;
    margin-top: 5px;
    white-space: nowrap;
}

 /*Welcome message text properties*/
.text_block_w {
    background-color: rgba(0, 0, 0, 0.952);
    color: #D3F3F0;
    margin-top: 5px;
    font-size: 40px;
    border: 3px solid #182b2fa1;
    border-radius: 10px;
    padding: 5px;
}

/*Horiseon challenge header*/
description_main h2 {
    background-color: #182b2f9c;
    color: #D3F3F0;
    text-align: center;
    display: inline;
    border-radius: 10px;
    margin: 5px;
    padding: 0 5px 0 5px;
}

description_main {
    border-radius: 0 0 10px 10px;
}
